{% extends "base.html" %}
{% block title %}Agregar Alumno{% endblock %}
{% block content %}
<h2>Agregar Alumno</h2>
<form method="POST">
    <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input type="text" class="form-control" name="nombre" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Carrera</label>
        <input type="text" class="form-control" name="carrera" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Certificación</label>
        <input type="text" class="form-control" name="certificacion" required>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
    <a href="{{ url_for('index') }}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}
